body {
    background: url("img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
 

.titulote{
    font: size 70px;
    text-align: center;

}
h1 { 
    margin-left: 5px;
    margin-right:auto;
    font-size: 400%;
    text-align: center;
    color: rgb(202, 199, 199);
    font-family: "Homer Simpson UI";
    font-weight: 900;

}
h6 { 
    font-size: larger;
    color: #FFFEFE;
    text-align: center;
    padding: 3px 10px;
    border:brown 5px ridge;
    border-radius: 20px 
    
         

}


  table {
    color:#FFFEFE;
    font-size: 150%;
}
