body{
    background: url("fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}




h1{
    text-align: center;
    Color:rgb(202, 199, 199);
    font-family: "Homer Simpson UI";
}

.certi{
    padding-left: 5px;
}